{% extends "base.html" %} {% block content %}
<div
  id="photoCarousel"
  class="carousel slide custom-carousel mt-4 mb-2"
  data-bs-ride="carousel"
>
  <!-- Indicadores del carrusel -->
  <div class="carousel-indicators">
    {% for photo in photos %}
    <button
      type="button"
      data-bs-target="#photoCarousel"
      data-bs-slide-to="{{ loop.index0 }}"
      class="{% if loop.first %}active{% endif %}"
      aria-current="{% if loop.first %}true{% endif %}"
      aria-label="Slide {{ loop.index }}"
    ></button>
    {% endfor %}
  </div>

  <!-- Elementos del carrusel -->
  <div class="carousel-inner">
    {% for photo in photos %}
    <div class="carousel-item {% if loop.first %}active{% endif %}">
      <img
        src="{{ url_for('static', filename='uploads/' + photo.image) }}"
        class="d-block w-100"
        alt="{{ photo.title }}"
        style="max-height: 500px; object-fit: cover"
      />
      <div id="image-utility" class="carousel-caption d-none d-md-block">
        <div class="button-container mt-3">
          <form
            action="{{ url_for('main.delete_photo', photo_id=photo.id) }}"
            method="post"
          >
            <button
              id="delete-button"
              class="btn"
              type="submit"
              onclick="return confirm('¿Estás seguro de que quieres eliminar esta foto?');"
            >
              <i class="fa-solid fa-trash"></i>
            </button>
          </form>
          <a
            id="edit-button"
            href="{{ url_for('main.edit_photo', photo_id=photo.id) }}"
            class="btn"
          >
            <i class="fa-solid fa-pen-to-square"></i>
          </a>
        </div>
        <div class="galery-container row">
          <div class="col">
            <div>
              <h5 class="text-title row">{{ photo.title }}</h5>
            </div>
            <div>
              <p class="text-description row">{{ photo.description }}</p>
            </div>
          </div>
          <div class="col container-boton-agregar-foto">
            <a
              href="{{ url_for('main.add_photo') }}"
              id="add-button"
              class="btn"
              ><i class="fa-solid fa-plus"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- Botón "Anterior" -->
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#photoCarousel"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>

  <!-- Botón "Siguiente" -->
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#photoCarousel"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% endblock %}
